{%  extends 'layout/app.html.twig' %}

{% block title %}Blog{% endblock %}

{% block meta %}
    <meta name="description" content="Blog description" />
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Blog</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <h1>Blog</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <th scope="row">{{ post.id }}</th>
                    <td><a href="{{ path('blog_show', {id: post.id}) }}">{{ post.title }}</a></td>
                    <td>{{ post.date|date('Y-m-d') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'main/pieces/pager.html.twig' with {
        'pager': pager,
        'main_route': 'blog',
        'route': 'blog_page',
    } %}
{% endblock %}